# {{ ansible_managed }}

password requisite pam_pwquality.so try_first_pass retry=3
password required pam_pwhistory.so use_authtok remember=24
password [success=2 default=ignore] pam_unix.so obscure remember=24 use_authtok try_first_pass sha512
password [success=1 user_unknown=ignore default=die] pam_ldap.so remember=24 use_authtok try_first_pass sha512
password requisite pam_deny.so
password required pam_permit.so
